<html ng-app="D3">
<head>
    <title>D3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="http://eu.battle.net/d3/static/js/tooltips.js"></script>
    <script src="D3.js"></script>
</head>

<body ng-controller="D3Controller">
    <div ng-controller="ProfileController">
        Profile:<input ng-model="profileId" />
        <button ng-click="fetch()">Fetch</button>
        <hr />
        ID: {{profileId}}
        Updated: {{profile.lastUpdated}}
        <ul>
            <li ng-repeat="hero in profile.heroes">
              {{hero.name}} (lvl {{hero.level}}, plvl {{hero.paragonlevel}})
            </li>
        </ul>
    </div>
</body>

</html>