<div>
    Profile:<input ng-model="profileId" />
    <button ng-click="fetch()">Fetch</button>

    <div>
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
    </div>

    <div>
        <ul>
        <li ng-repeat="hero in profile.heroes | filter:query">
            <a href="#/heroes/{{hero.id}}">{{hero.name}} - {{hero.level}} - {{hero.class}}</a>
        </li>
        </ul>
    </div>
</div>
